* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: sticky;
}
.container img {
  width: 100px;
  object-fit: contain;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: aliceblue;
}
.nav ul li a:hover {
  color: #fff;
}

/* Main */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 30px;
}

.product-grid img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.3s ease;
  border: 1px solid #000;
}

.product-grid__content {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 10px;
}
